.vs/SystemaPC2Firmware/v15/Solution.VC.db-shm
.vs/SystemaPC2Firmware/v15/Solution.VC.db-wal
.vs/SystemaPC2Firmware/v15/.suo
.vs/SystemaPC2Firmware/v15/Solution.VC.db
__vm/.SystemaPC2Firmware.vsarduino.h